{% extends "base.html" %}
{% block title %}Demo App{% endblock %}

{% block token_info %}
<div class="container">
  <h3>Invalid Token</h3>

  <p>The token you provided is invalid.</p>

  <a href="/logout" class="btn btn-danger">Logout</a>

  <hr>

  <div class="row g-2">
    <h5>Error Message<br></h5>
    <pre class="row-cols-1 border rounded" style="white-space: pre-wrap;"><code>{{ error }}</code></pre>
  </div>

  <hr>

  <div class="row g-2">
    <div class="col p-3">
      <h5>JWT Headers<br></h5>
      <table class="table table-sm table-hover table-bordered">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% if header is none %}
          <tr>
            <td colspan="2">No headers</td>
          </tr>
          {% else %}
          {% for key, value in header.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="col p-3">
      <h5>JWT Payload<br></h5>
      <table class="table table-sm table-hover table-bordered">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% if payload is none %}
          <tr>
            <td colspan="2">No payload</td>
          </tr>
          {% else %}
          {% for key, value in payload.items() %}
          <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}